<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card custom-card" [hidden] = "!AddAuth()">
        <div class="card-body">
          <h5 class="card-title mb-4 text-center fs-3 mt-2">Custom Authorization</h5>
          <hr class="w-100 border-top border-2 text-white mb-4">

          <form (ngSubmit)="submit()" #authform="ngForm">
            <div class="mb-3">
              <label for="name" class="form-label mt-2 fs-5 ">Authorization Title</label>
              <input
                id="name"
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="authForm.roleName"
              />
            </div>
            <div class="mb-3">
              <label class="form-label fs-5 mt-3">Permissions</label>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="emp"
                  name="emp"
                  [(ngModel)]="employee"
                />
                <label class="form-check-label" for="emp">Employee Auth.</label>
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="holi"
                  name="holi"
                  [(ngModel)]="holiday"
                />
                <label class="form-check-label" for="holi">Holiday Auth.</label>
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="record"
                  name="records"
                  [(ngModel)]="records"
                />
                <label class="form-check-label" for="record"
                  >Record Attendance Auth.</label
                >
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="sal"
                  name="sal"
                  [(ngModel)]="salary"
                />
                <label class="form-check-label" for="sal">Salary Auth.</label>
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="settings"
                  name="settings"
                  [(ngModel)]="settings"
                />
                <label class="form-check-label" for="settings"
                  >Settings Auth.</label
                >
              </div>
            </div>
            <div>
              {{ errors }}
            </div>
            <button type="submit" class="btn w-50 mt-4" style="margin-left:120px ;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

